<div class="top-menu">

    <img class="logo"
         src="https://angular-academy.s3.amazonaws.com/main-logo/main-page-logo-small-hat.png">

</div>


<div class="courses">

    <!-- <h1>{{ coreCourse.description }}</h1> -->

    <!--
    <app-course-card [title]="coreCourse.description"></app-course-card>
    <app-course-card [title]="rxjsCourse.description"></app-course-card>
    <app-course-card [title]="ngrxCourse.description"></app-course-card>
-->

    <app-course-card (courseSelected)="onCourseSelected($event)" [course]="coreCourse"></app-course-card>
    <app-course-card (courseSelected)="onCourseSelected($event)" [course]="rxjsCourse"></app-course-card>
    <app-course-card (courseSelected)="onCourseSelected($event)" [course]="ngrxCourse"></app-course-card>
</div>


